Сегодня мы поговорим о библиотеке, которая позволяет работать с табличными данными. Она называется pandas

In [1]:
! pip3 install pandas # если pandas не установлен, следует запустить эту ячейку

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.3.5-cp38-cp38-macosx_10_9_x86_64.whl (11.2 MB)
     |████████████████████████████████| 11.2 MB 6.0 MB/s
Requirement already satisfied: numpy>=1.17.3 in /Library/Python/3.8/site-packages (from pandas) (1.21.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Python/3.8/site-packages (from pandas) (2.8.2)
Collecting pytz>=2017.3
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
     |████████████████████████████████| 503 kB 18.0 MB/s
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.5 pytz-2021.3

In [1]:
import pandas as pd # теперь импортируем pandas в эту тетрадку

документация для pandas [лежит здесь](https://pandas.pydata.org/pandas-docs/stable/getting_started/tutorials.html)

Основные элементы "табличек в pandas" - это Series и Dataframe

Series - это объект, похожий на одномерный массив (как обычный список в питоне) с элементами и  индексами вдоль каждого элемента из списка. 

DataFrame "собирается" из таких Series

<img alt="Series vs DataFrame" height="300" width="700" src="https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png" >

# Создание датафрейма

Создать дф можно двумя способами:
- из словаря методом pd.DataFrame.from_dict()
- прочитав .csv файл

попробуем оба способа

### Первый

In [59]:
# шаг 1 создадим словарь

data = {
    "Maria":["London",37],
    "Lorenzo":["Milan",28],
    "Oleg":["Canberra",31],
    "Hans":["Calgary",80],
    "Mark":["Milan",55],
    "Alex":["Krakow",35],
    "Julia":["Murmansk",43]
    
}

# шаг 2 используем метод pd.DataFrame.from_dict()
# аргументом подадим созданный словарь

postcards = pd.DataFrame.from_dict(data, orient="index",columns=["city","age"])


display(postcards)

             city  age
Maria      London   37
Lorenzo     Milan   28
Oleg     Canberra   31
Hans      Calgary   80
Mark        Milan   55
Alex       Krakow   35
Julia    Murmansk   43

### Второй способ

In [4]:
# прочитаем какой-нибудь .csv файл методом pd.read_csv()

recipes = pd.read_csv("./christmas_recipes.csv")
recipes

,Title,Time,Servings,Ingredients,Instructions,Image
0,Perfect roast turkey,180,10 serving(s),"['20ml/¾fl oz rapeseed oil', '1 x 5kg/11lb goo...",Remove the turkey from the fridge and bring to...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
1,Stuffed roast turkey breast,180,8 serving(s),"['1 tbsp sunflower oil', '1 onion, finely chop...","To make the stuffing, heat the oil and gently ...",https://ichef.bbci.co.uk/food/ic/food_16x9_832...
2,Nigella's turkey breast with Christmas stuffing,150,12 serving(s),"['100g/3½oz dried cranberries', '100ml/3½fl oz...",Put the cranberries and Marsala into a small s...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
3,Gordon Ramsay's roast turkey crown,120,8 serving(s),"['125g/4½oz pack unsalted butter, softened', '...",Pre-heat the oven to 200C/180C Fan/Gas 6.\nFor...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
4,Roast turkey crown,180,8 serving(s),"['1 turkey breast crown (a wingless, legless t...",Preheat the oven to 220C/200C Fan/Gas 7.\nRub ...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
5,Roast turkey roll,150,8 serving(s),"['100g/3½oz pork scratchings', '100g/3½oz sour...","For the crumble topping, crush the pork scratc...",https://ichef.bbci.co.uk/food/ic/food_16x9_832...
6,Roast turkey and stuffing,150,12 serving(s),"['4.5-5.5kg/10-12lb whole turkey, with giblets...","For the stock, put the giblets, onion, carrot,...",https://ichef.bbci.co.uk/food/ic/food_16x9_832...
7,Perfect roast chicken dinner,150,4 serving(s),"['500ml/18fl oz milk', '75g/2½oz butter', '8 c...","For the bread sauce, heat together the first e...",https://ichef.bbci.co.uk/food/ic/food_16x9_832...
8,Venison Wellington with caramelised onions and...,120,6 serving(s),"['1 tbsp olive oil', '750g/1lb 10oz venison fi...",Heat the oil in a large frying pan over a high...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
9,Roast beef,120,6 serving(s),"['225g/8oz plain flour', '8 free-range eggs', ...","For the Yorkshire puddings, put the flour in a...",https://ichef.bbci.co.uk/food/ic/food_16x9_832...
10,The ultimate Christmas roast beef,120,8 serving(s),"['225g/8oz plain flour', '8 free-range eggs', ...",First prepare the Yorkshire pudding batter. Po...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
11,Beef Wellington,120,8 serving(s),"['1.3kg/2lb 14oz middle-cut fillet of beef', '...",Preheat the oven to 220C/200C Fan/Gas 7.\nSeas...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
12,Roast pork belly with apple bread sauce and ri...,150,6 serving(s),"['1.8kg/4lb pork belly', '4 tbsp sea salt flak...",Preheat the oven to 230C/210C fan/Gas 8.\nFor ...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
13,Honey and marmalade-glazed gammon joint,150,20 serving(s),"['6kg/13lb 3½oz gammon joint', 'fresh orange j...","For the gammon, place the gammon into a large,...",https://ichef.bbci.co.uk/food/ic/food_16x9_832...
14,Honey-glazed gammon,150,10 serving(s),"['2kg/4lb 8oz unsmoked boneless gammon joint, ...",Place the gammon joint into a large lidded sau...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
15,Slow cooked gammon with mustard sauce,150,12 serving(s),"['3kg/6lb 8oz unsmoked gammon joint, off the b...",Preheat the oven to 160C/140C Fan/Gas 3.\nTo m...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
16,Christmas roast duck,180,6 serving(s),"['1.5kg/3lb 5oz potatoes, peeled and thinly sl...",Arrange the shelves of your oven so that there...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
17,Roast goose,150,6 serving(s),"['1 x 5kg/11lb oven-ready goose', '1 onion, pe...",Preheat the oven to 200C/180C Fan/Gas 6.\nPlac...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
18,Porchetta,120,6 serving(s),"['3 tbsp finely chopped rosemary', 'sprig thym...","For the paste filling, either put all the ingr...",https://ichef.bbci.co.uk/food/ic/food_16x9_832...
19,Salmon en croûte,60,12 serving(s),"['2 medium cucumbers, peeled', '5 tbsp Dijon m...",Preheat the oven to 180C/350F/Gas 4. Line a la...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
20,Christmas nut roast with mushroom gravy,30,8 serving(s),"['300g/10½oz spinach or chard leaves', '50g/1¾...",Preheat the oven to 200C/180C Fan/Gas 6. Line ...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
21,Vegetarian nut roast pie with cranberries,60,10 serving(s),"['drizzle olive oil', '4 leeks, finely sliced'...",Preheat the oven to 200C/400F/Gas 6 and grease...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
22,Easy nut roast,30,10 serving(s),"['butter, for greasing and frying', '2 tbsp oi...",Pre-heat the oven to 180C/160C Fan/Gas 4. Butt...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
23,Baked stuffed aubergine with walnut and Roquefort,60,8 serving(s),"['4 large aubergines', '2 garlic cloves, chopp...",Preheat the oven to 200C/440F/Gas 6.\nCut the ...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
24,Brussels sprouts with pancetta,30,8 serving(s),"['salt', '900g/2lb 4oz Brussels sprouts, trimm...",Bring a saucepan of salted water to the boil a...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
25,Best roast potatoes,60,8 serving(s),"['10 large King Edward potatoes, peeled, cut i...",Preheat the oven to 200C/180C Fan/Gas 6.\nSimm...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
26,Christmas carrots,30,4 serving(s),"['9 medium carrots, peeled, topped and tailed'...",Use a clean scourer to smooth the carrots and ...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
27,Christmas red cabbage,60,4 serving(s),"['1 tbsp walnut oil', '15g/½oz butter', '2 red...",Heat the oil and butter in a large heavy-based...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
28,Mary Berry's Christmas stuffing,30,16 item(s),"['40g/1½oz butter, plus extra for greasing', '...",Melt the butter in a saucepan over a medium he...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
29,Pigs in blankets,30,8 serving(s),"['8 thin slices streaky bacon', '16 chipolata ...",Preheat the oven to 200C/180C Fan/Gas 6.\nPlac...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
30,Honey roast carrots,60,6 serving(s),"['1 kg/2lb 4oz small carrots, such as Chantena...",Preheat the oven to 200C/ 180C Fan/Gas 6. Trim...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
31,Creamy Brussels sprouts,30,6 serving(s),"['500g/1lb 2oz Brussels sprouts, trimmed and h...",Half-fill a medium saucepan with water and bri...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
32,Make-ahead Christmas gravy,30,8 serving(s),"['1 tbsp light olive oil or vegetable oil', '3...",Preheat the oven to 200C/180C Fan/Gas 6.\nMix ...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
33,Braised red cabbage,30,8 serving(s),"['1 red cabbage, quartered, cored and sliced',...",Preheat the oven to 170C/150C Fan/Gas 3.\nMix ...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
34,Perfect roast potatoes,60,8 serving(s),"['5 tbsp duck fat', '16 medium-sized Maris Pip...",Preheat the oven to 190C/170C Fan/Gas 5.\nParb...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
35,Chestnut stuffing,30,6 serving(s),"['1 large onion, coarsely chopped', '225g/8oz ...",Preheat oven 200C/400F/Gas 6. Butter a shallow...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
36,Maple-roast parsnips,60,8 serving(s),"['1kg/2¼lb parsnips', '125ml/4fl oz vegetable ...",Preheat the oven to 200C/180C Fan/Gas 6.\nPeel...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
37,Hasselback potatoes with bacon,60,30 item(s),"['1kg/2lb 4oz small baby potatoes', '300g/10½o...",Preheat the oven to 200C/180C Fan/Gas 6\nCut n...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
38,Sage and onion stuffing,60,6 serving(s),"['1 onion, peeled and finely chopped', '1 tbsp...","Sweat the onion in the oil, until soft but not...",https://ichef.bbci.co.uk/food/ic/food_16x9_832...
39,Sticky cranberry sausages,30,10 serving(s),"['2 red onions, sliced', '2 tbsp olive oil', '...",Fry the sliced red onions in a pan with the oi...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
40,Easy bread sauce,30,8 serving(s),"['1 large onion, peeled', '6 cloves', '1 bay l...",Press all the cloves into the whole peeled oni...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
41,Slow cooker honey roast ham,150,10 serving(s),"['1.6kg/3lb 8oz boneless, rolled smoked or uns...","Put the gammon, onion and 100ml/3½fl oz water ...",https://ichef.bbci.co.uk/food/ic/food_16x9_832...

### Как посмотреть на часть датафрейма

понадобятся методы ```.head()```, ```.tail()``` или индексация

In [5]:
# первые строки
recipes.head(3)

,Title,Time,Servings,Ingredients,Instructions,Image
0,Perfect roast turkey,180,10 serving(s),"['20ml/¾fl oz rapeseed oil', '1 x 5kg/11lb goo...",Remove the turkey from the fridge and bring to...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
1,Stuffed roast turkey breast,180,8 serving(s),"['1 tbsp sunflower oil', '1 onion, finely chop...","To make the stuffing, heat the oil and gently ...",https://ichef.bbci.co.uk/food/ic/food_16x9_832...
2,Nigella's turkey breast with Christmas stuffing,150,12 serving(s),"['100g/3½oz dried cranberries', '100ml/3½fl oz...",Put the cranberries and Marsala into a small s...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...

In [6]:
# последние строки
recipes.tail(3)

,Title,Time,Servings,Ingredients,Instructions,Image
39,Sticky cranberry sausages,30,10 serving(s),"['2 red onions, sliced', '2 tbsp olive oil', '...",Fry the sliced red onions in a pan with the oi...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
40,Easy bread sauce,30,8 serving(s),"['1 large onion, peeled', '6 cloves', '1 bay l...",Press all the cloves into the whole peeled oni...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
41,Slow cooker honey roast ham,150,10 serving(s),"['1.6kg/3lb 8oz boneless, rolled smoked or uns...","Put the gammon, onion and 100ml/3½fl oz water ...",https://ichef.bbci.co.uk/food/ic/food_16x9_832...

In [7]:
# часть датафрейма по  индексам строчек
recipes[12:15]

,Title,Time,Servings,Ingredients,Instructions,Image
12,Roast pork belly with apple bread sauce and ri...,150,6 serving(s),"['1.8kg/4lb pork belly', '4 tbsp sea salt flak...",Preheat the oven to 230C/210C fan/Gas 8.\nFor ...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...
13,Honey and marmalade-glazed gammon joint,150,20 serving(s),"['6kg/13lb 3½oz gammon joint', 'fresh orange j...","For the gammon, place the gammon into a large,...",https://ichef.bbci.co.uk/food/ic/food_16x9_832...
14,Honey-glazed gammon,150,10 serving(s),"['2kg/4lb 8oz unsmoked boneless gammon joint, ...",Place the gammon joint into a large lidded sau...,https://ichef.bbci.co.uk/food/ic/food_16x9_832...

# Характеристики датафрейма

In [8]:
#размеры датафрейма
postcards.shape

(7, 2)

In [10]:
# описание датафрейма
postcards.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Maria to Julia
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   city    7 non-null      object
 1   age     7 non-null      int64
dtypes: int64(1), object(1)
memory usage: 168.0+ bytes

In [11]:
# изменим тип колонки age на числовой
postcards.age = postcards.age.astype("int64")

### Как посмотреть, где живет конкретный человек?

Чтобы найти нужную строку, нам нужны индексы. У датафрейма есть две оси: по строкам(нулевая, она же  index) и столбцам(первая, она же columns)

In [28]:
postcards.index

Index(['Maria', 'Lorenzo', 'Oleg', 'Hans', 'Mark', 'Alex', 'Julia'], dtype='object')

In [29]:
postcards.columns

Index(['city', 'age'], dtype='object')

In [30]:
from IPython.core.display import display

# пересечение индексов выдаст конкретную ячейку: ищем где живет Мария

display(postcards.loc['Maria']['age'])

37

**Получить строку по индексу** можно сделать двумя способами:

- именной индекс, по "названию" строки в колонке "Index", (первая колонка датафрейма, у нас это имена людей)
- порядковый индекс, по номеру строки в датафрейме (нумерация с 0)

Для именного поиска понадобится метод ```.loc[]```, для порядкового -- ```.iloc[]```

In [17]:
postcards
# postcards.iloc[3]

postcards.loc["Julia"]

city    Murmansk
age           43
Name: Julia, dtype: object

**Указав название колонки**,  можно аналогично посмотреть все значения в ней

In [18]:
postcards["city"]

Maria        London
Lorenzo       Milan
Oleg       Canberra
Hans        Calgary
Mark          Milan
Alex         Krakow
Julia      Murmansk
Name: city, dtype: object

In [62]:
postcards

             city  age
Maria      London   37
Lorenzo     Milan   28
Oleg     Canberra   31
Hans      Calgary   80
Mark        Milan   55
Alex       Krakow   35
Julia    Murmansk   43

# Операции с датафреймами

### Добавление колонок и строк в датафрейм

В датафрейм можно добавить новые колонки: понадобится метод ```.assign()```

In [74]:
postcards = postcards.assign(job=['Artist',"Teacher","Chef","Artist","Manager","Chef","Engineer"])

display(postcards)

             city  age       job
Maria      London   37    Artist
Lorenzo     Milan   28   Teacher
Oleg     Canberra   31      Chef
Hans      Calgary   80    Artist
Mark        Milan   55   Manager
Alex       Krakow   35      Chef
Julia    Murmansk   43  Engineer

Добавить строки тоже можно: методом ```.append()```

In [75]:
df= pd.DataFrame.from_dict({"Alice":["NY","36","Engineer"]},
                           orient="index",
                           columns=postcards.columns)
df

      city age       job
Alice   NY  36  Engineer

In [77]:
# # шаг2 добавим новый df к старому
postcards = postcards.append(df)
postcards

# что будет, если запустить .append() несколько раз?

             city age       job
Maria      London  37    Artist
Lorenzo     Milan  28   Teacher
Oleg     Canberra  31      Chef
Hans      Calgary  80    Artist
Mark        Milan  55   Manager
Alex       Krakow  35      Chef
Julia    Murmansk  43  Engineer
Alice          NY  36  Engineer
Alice          NY  36  Engineer

### что делать, если добавились ненужные строки?

In [78]:
postcards

             city age       job
Maria      London  37    Artist
Lorenzo     Milan  28   Teacher
Oleg     Canberra  31      Chef
Hans      Calgary  80    Artist
Mark        Milan  55   Manager
Alex       Krakow  35      Chef
Julia    Murmansk  43  Engineer
Alice          NY  36  Engineer
Alice          NY  36  Engineer

Если есть дубликаты уже существующих строк, понадобится метод ```.drop_duplicates()```

In [81]:
postcards = postcards.drop_duplicates()

In [166]:
new = postcards.reset_index().rename(columns={"index":"name"})
# new["age"][7] = 36
new.at[7, "age"] = 36
new[(new["age"] > 32) | (new["job"] == "Chef")]

    name      city age       job
0  Maria    London  37    Artist
2   Oleg  Canberra  31      Chef
3   Hans   Calgary  80    Artist
4   Mark     Milan  55   Manager
5   Alex    Krakow  35      Chef
6  Julia  Murmansk  43  Engineer
7  Alice        NY  36  Engineer

### Сохранение датафрейма в файл

In [84]:
# сохраним в .csv файл

postcards.to_csv('./postcards.csv')

### Фильтры и прочие манипуляции

In [120]:
# посмотрим, кто работает шеф-поваром
# квадратные скобки создают подвыборку из датасета, удовлетворяющую условиям

postcards[postcards['job'] =='Chef']

          city age   job
Oleg  Canberra  31  Chef
Alex    Krakow  35  Chef

In [126]:
# поищем всех людей старше 40

postcards[postcards["age"]>40]

           city  age       job
Hans    Calgary   80    Artist
Mark      Milan   55   Manager
Julia  Murmansk   43  Engineer

In [165]:
# условия можно компоновать логическими операторами
# синтаксис: df[(условие1) оператор (условие2)]

#ищем, кто старше 30 и не работает шеф-поваром


postcards[ (postcards['age'] > 30) & (postcards['job'] !="Chef") ]

TypeError: '>' not supported between instances of 'str' and 'int'

Над значениями в колонках можно производить различные операции:
* например, арифметические (если данные количественные):

In [137]:
postcards.age.sum()
postcards.age.mean()
postcards.age.min()
postcards.age.max()

80

Если данные категориальные, можно искать уникальные значения, упорядочивать по алфавиту и тд

In [176]:
postcards.city.values # все значения
# postcards.job.value_counts() # число повторов
# postcards.city.sort_values(ascending=True) # сортировка
#
# postcards.job.unique() # все уникальные в колонке
# postcards.city.nunique() # сколько уникальных в колонке

array(['London', 'Milan', 'Canberra', 'Calgary', 'Milan', 'Krakow',
       'Murmansk', 'NY'], dtype=object)

# Практическая часть

давайте поизвлекаем текст из датасетов и поисследуем его,  например, составив частотный список (с токенизацией и удалением стоп-слов)

In [107]:
df = pd.read_csv('../data/elonmusk.csv', encoding="utf-8")
df.head(3)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1282939902531796993,1282933079431151618,1594711683000,2020-07-14,07:28:03,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk...",NaN,NaN,NaN,NaN
1,1282844872571904000,1282801938111791104,1594689026000,2020-07-14,01:10:26,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk...",NaN,NaN,NaN,NaN
2,1282805559834492929,1282758532312584193,1594679653000,2020-07-13,22:34:13,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk...",NaN,NaN,NaN,NaN

### подсказка: как достать текст из колонок датафрейма

In [119]:
# выбираем нужную колонку, складываем в список, сохраняем в удобную переменную
tweets = df["tweet"].to_list()
tweets[170:180]

['Awesome!!',
 'Thank you. Angie …',
 'bs pic.twitter.com/1kOQeH5mvF',
 'You cherry-picked one state out of fifty, which saw a minor uptick. Show the whole country.',
 'I tried to warn them … 😢',
 'Yup',
 'Something’s messed up about medicine that’s anti-science. In science, you question everyone, no matter who they are. Facts & reasoning are everything, but in medicine too much emphasis is on credentials, often by people who’ve accomplished nothing but a PhD thesis used by no one.',
 'Here’s one: pic.twitter.com/9ujxCClFCg',
 'Yes, Angela, please show us the graphs/data that prove your point',
 'I’m not building anything on ethereum. Not for or against it, just don’t use it or own any.']

Теперь текст сохранен в переменную в виде списка, с ним можно работать стандартным образом